.containerBackgroundStart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #4751c0;
  z-index: -2;
}
.containerBackgroundStart .bcg {
  position: absolute;
  scale: 0.5;
}

.stainStart1 {
  top: 0;
  left: 0;
  transform: translate(-80%, -40%);
}
.stainStart2 {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}
.stainStart3 {
  top: 0;
  right: 0;
  transform: translate(50%, -30%);
}
.stainStart4 {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}
